@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
}

/* * {
  cursor: none;
} */

/* .ingame_gui {
  position: absolute;
  display: flex;
  flex-direction: column;
} */
